#themeSwitcher {
    position: fixed !important;
    top: 10px !important;
    right: 10px !important;
    bottom: auto !important;
    z-index: 9999 !important;
}

.scrollable-table {
    display: block;
    max-height: 400px;
    overflow-y: auto;
}
.scrollable-table table {
    width: 100%;
}

.small-text {
    font-size: 50%;
}